.our-solutions{
    padding: 9vw 8vw;
    background: #FAFAFA;

    .online-job-and-recruitment{
        display: flex;
        margin-top: 3vw;

        .solutions{
            flex: 50%;
            max-width: 50%;
            position: relative;
            padding: 4vw;

            img{
                width: 100%;
            }

            h1{
                font-size: 4vw;
                text-align: center;
                font-weight: normal;
                font-family: sans-serif;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


@media (max-width: 768px){
    .our-solutions{
        padding: 30px 20px;
        flex-wrap: wrap;
        .online-job-and-recruitment{
            margin-top: 30px;
            flex-direction: column!important;
    
            .solutions{
                flex: 100%!important;
                max-width: 100%!important;
                padding: 40px;
    
                img{
                    width: 100%;
                }
    
                h1{
                    font-size: 7em;
                }
            }
        }
    }
}


@media (max-width: 576px){
    .our-solutions{
        padding: 30px 20px;
        flex-wrap: wrap;
        .online-job-and-recruitment{
    
            .solutions{
                padding: 10px;
    
                h1{
                    font-size: 2.5em;
                }
            }
        }
    }
}