.header{
    padding: 1vw 4.8vw .8vw 4.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E0E0E0;

    .logo{
        font-size: 2.4vw;
        // font-size: 2.3em;
        font-weight: normal;
        color: #69276B;
    }

    .fa-bars{
        display: none;
    }

    ul{
        list-style: none;
        display: flex;
        align-items: center;

        li{
            font-size: 1.8vw;
            font-weight: 600;
            opacity: .8;
            margin: 0;

            a{
                text-decoration: none;
                color: black;
            }

            &:nth-child(2){
                margin: 0 1em 0 2em;
            }
        }
    }
}

//Conditional class
.height-auto{
    height: auto!important;
}

@media (max-width: 768px){
    .header{
        padding: 20px 30px;
        position: relative;
    
        .logo{
            font-size: 3em;
        }

        .fa-bars{
            display: inline-block!important;
            font-size: 2em;
            margin-left: auto;
            cursor: pointer;
        }
    
        ul{
            display: block;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            z-index: 10;
            height: 0;
            overflow-y: hidden;
            box-shadow: 0 2px 5px rgba(221, 221, 221, .7);
    
            li{
                font-size: 3em;
                text-align: center;
                padding: 20px 0;

                &:nth-child(2){
                    margin: 0;
                }
    
            }
        }
    }
}


@media (max-width: 576px){
    .header{
        padding: 10px 14px;
    
        .logo{
            font-size: 2em;
        }
    
        ul{
    
            li{
                font-size: 2em;
    
            }
        }
    }
}