.top-section{
    position: relative;

    .headings{
    padding: 11vw 0 10vw 4.8vw;
    z-index: 1;

        h2{
            font-size: 3.5vw;
            color: #711F76;
            letter-spacing: 3px;
            font-family: sans-serif;
            font-weight: 600;
        }

        h1{
            font-size: 5.3vw;
            color: #711F76;
            font-weight: 800;
            font-family: sans-serif;

            &:nth-child(2){
            line-height: 7vw;
            }
        }
    }

    .backImg{
        height: 37vw;
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        background: linear-gradient(to left,#712175 20%, #712175);
        background-position: 80%;

        img{
            height: 39vw;
            width: auto;
            position: absolute;
            right: 0;
            top: 0;
        }
        
    }
    
}